{#
	Index page.
#}
<!doctype html>
<head>
	<meta charset="utf-8">
	<title>Regression Tests</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
	<link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
</head>
<body>
<h1>Regression Tests</h1>

{% macro show_title_with_dates_and_runtime(start_date, end_date, runtime) %}
	title="Start: {{ start_date|date }}
End:   {{ end_date|date }}
Runtime: {{ runtime|runtime }}"
{%- endmacro %}

{% macro show_commit(commit) %}
	<td class="commit">
		{% if commit_details_url %}
			<a href="{{ commit_details_url.format(commit.hash) }}" title="View commit details">[{{ commit.short_hash(10) }}]</a>
		{% else %}
			{{ commit.short_hash(10) }}
		{% endif %}
		<br />
		<span title="{{ commit.age|age }} ago">{{ commit.date|date }}</span>
		<br />
		<a href="mailto:{{ commit.email }}" title="Send an email to {{ commit.author }}">{{ commit.author }}</a>
		<br />
		<span title="{{ commit.subject }}">{{ commit.short_subject(20) }}</span>
	</td>
{%- endmacro %}

{% macro show_results_summary_sep() %}
	<tr class="summary-results-sep">
		<td colspan="{{ commits_results.results|length + 1}}"></td>
	</tr>
{%- endmacro %}

{% macro show_module_details_sep(module_id) %}
	<tr class="module-details-sep module-details-{{ module_id }} hidden">
		<td colspan="{{ commits_results.results|length + 1}}"></td>
	</tr>
{%- endmacro %}

{% macro show_build_info(build_info, commit_id) %}
	{% if build_info.has_ended() %}
		<td id="build-cell-{{ commit_id }}"
				class="build-cell ended-build-cell {% if build_info.succeeded %}succeeded{% else %}failed{% endif %}"
				onclick="toggleBuildDetails('{{ commit_id }}');"
				{{ show_title_with_dates_and_runtime(build_info.start_date, build_info.end_date, build_info.runtime) }}>
			{% if build_info.succeeded %}OK{% else %}FAIL{% endif %}
		</td>
	{% elif build_info.has_started() %}
		<td class="build-cell">
			<img src="{{ url_for('static', filename='images/running.gif') }}" alt="Running" title="Running" />
		</td>
	{% else %}
		<td class="build-cell" title="No build">-</td>
	{% endif %}
{%- endmacro %}

{% macro show_build_details(build_info) %}
	{# <pre> is needed to copy spaces during copy&paste #}
	<td class="code-box" colspan="{{ commits_results|length + 1 }}"><pre>{{ build_info.log|nl2br }}</pre></td>
{%- endmacro %}

{% macro show_results_summary(results) %}
	{% if results.has_run() %}
		<td class="results-cell summary-results{% if results.succeeded %} succeeded{% elif results.failed %} failed{% endif %}"
				{{ show_title_with_dates_and_runtime(results.start_date, results.end_date, results.runtime) }}>
			{{ results.succeeded_tests }}/{{ results.run_tests }}
		</td>
	{% else %}
		<td class="results-cell no-results-cell" title="No results">-</td>
	{% endif %}
{%- endmacro %}

{% macro show_module_results(results) %}
	{% if results.has_run() %}
		<td class="results-cell module-results{% if results.succeeded %} succeeded{% elif results.failed %} failed{% endif %}"
				{{ show_title_with_dates_and_runtime(results.start_date, results.end_date, results.runtime) }}>
			{{ results.succeeded_tests }}/{{ results.run_tests }}
		</td>
	{% else %}
		<td class="results-cell no-results-cell" title="No results">-</td>
	{% endif %}
{%- endmacro %}

{% macro show_case_results(results, case_id, commit_id) %}
	{% if results.has_run() %}
		<td id="case-results-{{ case_id }}_{{ commit_id }}"
				class="results-cell case-results {% if results.succeeded %} succeeded{% elif results.failed %} failed{% endif %}"
				onclick="toggleCaseDetails('{{ case_id }}_{{ commit_id }}');"
				{{ show_title_with_dates_and_runtime(results.start_date, results.end_date, results.runtime) }}>
			{{ results.succeeded_tests }}/{{ results.run_tests }}
		</td>
	{% else %}
		<td class="results-cell no-results-cell" title="No results">-</td>
	{% endif %}
{%- endmacro %}

{% macro show_case_details(results) %}
	{# <pre> is needed to copy spaces during copy&paste #}
	<td class="code-box" colspan="{{ commits_results|length + 1 }}"><pre>{{ results.output|nl2br }}</pre></td>
{%- endmacro %}

{% if commits_results.has_results() %}
<table id="results-table">
	<tr>
		<td>
			<form method="get" action="{{ url_for('index') }}">
				<strong>Showing the last</strong>
				<input type="text" name="commits" value="{{ shown_commits_count }}" size="2" />
				<strong>commit{{ 's' if shown_commits_count != 1 else '' }}
					(max: {{ max_commits_count }}).</strong>
				<input type="submit" class="button" value="Update" />
			</form>
		</td>
		{% for commit in commits_results.commits %}
			{{ show_commit(commit) }}
		{% endfor %}
	</tr>
	{{ show_results_summary_sep() }}
	<tr id="builds-row">
		<td>
			<strong>Build</strong>
		</td>
		{% for build_info in commits_results.build_infos %}
			{{ show_build_info(build_info, commits_results[loop.index - 1].commit.hash) }}
		{% endfor %}
	</tr>
	{% for commit_results in commits_results %}
		<tr class="build-details-row hidden"
				id="build-details-{{ commit_results.commit.hash|id }}">
			{{ show_build_details(commit_results.build_info) }}
		</tr>
	{% endfor %}
	{{ show_results_summary_sep() }}
	<tr id="overall-results-row">
		<td>
			<strong>Overall</strong>
		</td>
		{% for results in commits_results.results %}
			{{ show_results_summary(results) }}
		{% endfor %}
	</tr>
	{{ show_results_summary_sep() }}
	{% for module_name in commits_results.module_names %}
		<tr class="module-results-row" id="module-results-{{ module_name|id }}" onclick="toggleModuleDetails('{{ module_name|id }}');">
			<td>
				<strong>{{ module_name }}</strong>
			</td>
			{% for commit_results in commits_results.results_for_module(module_name) %}
				{{ show_module_results(commit_results.results) }}
			{% endfor %}
		</tr>
		{% for case_name in commits_results.case_names_for_module(module_name) %}
			<tr class="module-details-row module-details-{{ module_name|id }} hidden">
				<td>
					<span class="case-name-indent">&raquo;</span>
					<span class="case-name">{{ interactive_case_name(case_name, module_name, limit=65)|safe }}</span>
				</td>
				{% for commit_results in commits_results.results_for_case(module_name, case_name) %}
					{{ show_case_results(commit_results.results,
						module_name|id + '_' + case_name|id, commit_results.commit.hash|id) }}
				{% endfor %}
			</tr>
			{% for commit_results in commits_results.results_for_case(module_name, case_name) %}
				<tr class="case-details-row hidden"
						id="case-details-{{ module_name|id }}_{{ case_name|id }}_{{ commit_results.commit.hash|id }}">
					{{ show_case_details(commit_results.results) }}
				</tr>
			{% endfor %}
		{% endfor %}
		{{ show_module_details_sep(module_name|id) }}
	{% endfor %}
</table>
{% else %}
<p>No results.</p>
{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/general.js') }}"></script>

<div id="footer">
	Last Update: {{ last_db_update|date }}
	<br>
	<a href="{{ wiki_page_url }}" title="Go to the wiki page">Wiki Page</a>&nbsp;|&nbsp;<a href="{{ api_docs_url }}" title="Go to the API documentation">API Documentation</a>
</div>
</body>
